﻿@page "/items"
@page "/{category}"


test

@*<ProductTable Products="ProductList" OnClick="GetProductRelations"></ProductTable>*@
@*<ProductTable Products="ProductList" OnClick="GetProductRelations"></ProductTable>*@



