﻿@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager

@*<input type="button" value="Name" class="form-control" placeholder="Search by product name"
    @onclick="SearchChanged" />*@

<input type="text" class="form-control" placeholder="Search by product name"
       @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="SearchChanged" />





@*<MudFab Icon="@Icons.Material.Filled.LocalDrink" Color="Color.Error" Label="Drikke" />
    <MudFab Icon="@Icons.Material.Filled.Icecream" Color="Color.Error" Label="Desserter" />
*@

