﻿@inherits LayoutComponentBase


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <!--NavigationBar-->
    <NavBar></NavBar>

    <!--Content-->
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-5">

            <MudGrid>
                <!--Show produt items-->
                @Body


            </MudGrid>
        </MudContainer>
    </MudMainContent>





</MudLayout>


