﻿<MudAppBar Color="Color.Success">
    <MudIconButton Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
@*    <img src="/images/burgershark.png" />*@
    <MudText>
        @restaurantName
    </MudText>
    

    <MudSpacer />

    <MudBadge Content="0" Color="Color.Error" Overlap="true" Class="mx-6 my-4">
        <MudIcon Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Inherit" />
    </MudBadge>


</MudAppBar>
<MudDrawer @bind-Open="@_drawerOpen">
    <NavMenu />
</MudDrawer>

@code { bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    } 




}

<style>
    .mdc-top-app-bar {
        background-color: red;
        color: gold;
    }
</style>