﻿


@*@if (Products.Count > 0)
{

    @foreach (var product in Products)
    {*@

    

@*<MudItem xs="6">
    <MudCard Class="">
        <MudCardContent>

            <MudText Class="d-flex justify-center">@product.strMeal</MudText>


            <MudCardMedia Image="@product.strMealThumb" />
        </MudCardContent>
        <MudCardActions Class="d-flex justify-center">
            <MudButton Variant="Variant.Text" Color="Color.Primary">DKK 65.00</MudButton>
       
        </MudCardActions>

    </MudCard>



    <a type="button"  class="btn btn-danger" @onclick="() => Clicked(product.idMeal)">Click me</a>
</MudItem>


    }

    <MudAppBar Elevation="1" Style="top: auto; bottom: 0">

            <div Class="mx-auto">

                Footer
            </div>



        </MudAppBar>*@
<!--}

else
{
    <span>
        Loading products...
    </span>
}-->

